.btn-warning {
  color: #fff;
  --bs-btn-bg: #ff9138;
  --bs-btn-border-color: #ff9138;
  --bs-btn-hover-bg: #fca45d;
  --bs-btn-hover-border-color: #fca45d;
  --bs-btn-active-bg: #fca45d;
  --bs-btn-active-border-color: #fca45d;
  --bs-btn-disabled-bg: #ff9138;
  --bs-btn-disabled-border-color: #ff9138;
}

.text-orange {
  color: #ff9138;
}

.btn-outline-warning {
  --bs-btn-color: #ff9138;
  --bs-btn-border-color: #ff9138;
  --bs-btn-hover-bg: #ff9138;
  --bs-btn-hover-border-color: #ff9138;
  --bs-btn-active-bg: #ff9138;
  --bs-btn-active-border-color: #ff9138;
  --bs-btn-disabled-color: #ff9138;
  --bs-btn-disabled-border-color: #ff9138;
  --bs-btn-hover-color: #fff;
  --bs-btn-active-color: #fff;
}

.my-background {
  background-color: #f6f6f6;
}
